:host{
  display: block;
  margin-top: 1rem;
}

.info-text{
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.content{
  white-space: pre-wrap;
}

.mat-expansion-panel-header-title{
  flex: 0px;
}

